<div class="container">
    <h3><strong>User Details:</strong></h3>
    <table class="table-primary">
        <thead class="table-primary">
            <th >Full Name:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th >Take Home:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th >Income Tax:&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th >National Insurance:   </th>
        </thead>
        <tbody>
            <!-- <tr class="table-primary">
                <td id="fullName" name="fullName"></td>
                <td id="takeHome" name="takeHome"></td>
                <td id="Tax" name="Tax"></td>
                <td id="natInsurance" name="natInsurance"></td>
            </tr> -->
        </tbody>
    </table>
    <br>
    <div id="error">

    </div>
</div>

